################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpirionUITests/bin/Debug/netcoreapp3.1/zh-Hant
/SpirionUITests/bin/Debug/netcoreapp3.1/zh-Hans
/SpirionUITests/bin/Debug/netcoreapp3.1/WebDriver.Support.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/WebDriver.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/tr
/SpirionUITests/bin/Debug/netcoreapp3.1/testhost.exe
/SpirionUITests/bin/Debug/netcoreapp3.1/testhost.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/TestData
/SpirionUITests/bin/Debug/netcoreapp3.1/testcentric.engine.metadata.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/TechTalk.SpecFlow.NUnit.SpecFlowPlugin.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/TechTalk.SpecFlow.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/System.Text.Json.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Spiron.Automation.Framework.pdb
/SpirionUITests/bin/Debug/netcoreapp3.1/Spiron.Automation.Framework.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/SpirionUITests.runtimeconfig.json
/SpirionUITests/bin/Debug/netcoreapp3.1/SpirionUITests.runtimeconfig.dev.json
/SpirionUITests/bin/Debug/netcoreapp3.1/SpirionUITests.pdb
/SpirionUITests/bin/Debug/netcoreapp3.1/SpirionUITests.exe
/SpirionUITests/bin/Debug/netcoreapp3.1/SpirionUITests.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/SpirionUITests.deps.json
/SpirionUITests/bin/Debug/netcoreapp3.1/SpecFlow.Internal.Json.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/SpecFlow.Assist.Dynamic.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Serilog.Sinks.File.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Serilog.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0
/SpirionUITests/bin/Debug/netcoreapp3.1/ru
/SpirionUITests/bin/Debug/netcoreapp3.1/pt-BR
/SpirionUITests/bin/Debug/netcoreapp3.1/pl
/SpirionUITests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
/SpirionUITests/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
/SpirionUITests/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/nunit.framework.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/nunit.engine.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/nunit.engine.core.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/nunit.engine.api.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/ko
/SpirionUITests/bin/Debug/netcoreapp3.1/ja
/SpirionUITests/bin/Debug/netcoreapp3.1/it
/SpirionUITests/bin/Debug/netcoreapp3.1/Google.Protobuf.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Gherkin.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/fr
/SpirionUITests/bin/Debug/netcoreapp3.1/es
/SpirionUITests/bin/Debug/netcoreapp3.1/EnvironmentData.json
/SpirionUITests/bin/Debug/netcoreapp3.1/Dynamitey.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/de
/SpirionUITests/bin/Debug/netcoreapp3.1/Cucumber.Messages.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/CsvHelper.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/cs
/SpirionUITests/bin/Debug/netcoreapp3.1/BoDi.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/zh-Hant
/SpirionUITests/bin/Debug/netcoreapp3.1/zh-Hans
/SpirionUITests/bin/Debug/netcoreapp3.1/WebDriver.Support.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/WebDriver.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/tr
/SpirionUITests/bin/Debug/netcoreapp3.1/testhost.exe
/SpirionUITests/bin/Debug/netcoreapp3.1/testhost.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/TestData
/SpirionUITests/bin/Debug/netcoreapp3.1/testcentric.engine.metadata.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/TechTalk.SpecFlow.NUnit.SpecFlowPlugin.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/TechTalk.SpecFlow.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/System.Text.Json.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Spiron.Automation.Framework.pdb
/SpirionUITests/bin/Debug/netcoreapp3.1/Spiron.Automation.Framework.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/SpirionUITests.runtimeconfig.json
/SpirionUITests/bin/Debug/netcoreapp3.1/SpirionUITests.runtimeconfig.dev.json
/SpirionUITests/bin/Debug/netcoreapp3.1/SpirionUITests.pdb
/SpirionUITests/bin/Debug/netcoreapp3.1/SpirionUITests.exe
/SpirionUITests/bin/Debug/netcoreapp3.1/SpirionUITests.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/SpirionUITests.deps.json
/SpirionUITests/bin/Debug/netcoreapp3.1/SpecFlow.Internal.Json.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/SpecFlow.Assist.Dynamic.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Serilog.Sinks.File.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Serilog.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0
/SpirionUITests/bin/Debug/netcoreapp3.1/ru
/SpirionUITests/bin/Debug/netcoreapp3.1/pt-BR
/SpirionUITests/bin/Debug/netcoreapp3.1/pl
/SpirionUITests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
/SpirionUITests/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
/SpirionUITests/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/nunit.framework.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/nunit.engine.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/nunit.engine.core.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/nunit.engine.api.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/ko
/SpirionUITests/bin/Debug/netcoreapp3.1/ja
/SpirionUITests/bin/Debug/netcoreapp3.1/it
/SpirionUITests/bin/Debug/netcoreapp3.1/Google.Protobuf.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Gherkin.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/fr
/SpirionUITests/bin/Debug/netcoreapp3.1/es
/SpirionUITests/bin/Debug/netcoreapp3.1/EnvironmentData.json
/SpirionUITests/bin/Debug/netcoreapp3.1/Dynamitey.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/de
/SpirionUITests/bin/Debug/netcoreapp3.1/Cucumber.Messages.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/CsvHelper.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/cs
/SpirionUITests/bin/Debug/netcoreapp3.1/BoDi.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/System.IO.Pipelines.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/SharpCompress.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/RazorEngine.NetCore.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/MongoDB.Libmongocrypt.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/MongoDB.Driver.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/MongoDB.Driver.Core.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/MongoDB.Bson.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Net.Http.Headers.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.ObjectPool.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventSource.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Debug.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Console.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Configuration.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.UserSecrets.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.CommandLine.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.WebUtilities.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Https.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Core.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.IISIntegration.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.IIS.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Routing.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Routing.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Runtime.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.HttpOverrides.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Features.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Extensions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Html.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Hosting.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Hosting.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.HostFiltering.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Diagnostics.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Diagnostics.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Connections.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Core.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Abstractions.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/ExtentReports.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/DnsClient.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/runtimes/win-x64/nativeassets/netcoreapp2.2
/SpirionUITests/bin/Debug/netcoreapp3.1/runtimes/win-x86/nativeassets/netcoreapp2.2
/SpirionUITests/bin/Debug/netcoreapp3.1/SpecFlowPlusRunner
/SpirionUITests/bin/Debug/netcoreapp3.1/TechTalk.SpecRun.VisualStudio.TestAdapter.dll.config
/SpirionUITests/bin/Debug/netcoreapp3.1/TechTalk.SpecRun.VisualStudio.TestAdapter.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/TechTalk.SpecRun.Framework.Utils.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/TechTalk.SpecRun.Framework.Interfaces.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/TechTalk.SpecRun.Framework.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/TechTalk.SpecFlow.Plus.RPC.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/StreamJsonRpc.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/SpecFlow.Plus.Shared.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/SimpleImpersonation.dll
/SpirionUITests/bin/Debug/netcoreapp3.1/FSharp.Core.dll
/.vs
/CloudIntegration/bin/Debug/netcoreapp3.1
/CloudIntegration/obj
/SpirionUITests/obj
/SpirionUITests/bin/Debug/netcoreapp3.1
/Spiron.Automation.Framework/obj
/Spiron.Automation.Framework/bin/Debug/netcoreapp3.1
/Spiron.Automation.Framework/.vs/Spiron.UI.Automation
/SpirionUITests/Reports/Spirion/Screenshots
